In [2]:
import pandas as pd
products = pd.read_csv('products.csv')

products.duplicated().sum()  #check for duplicate sum (8746)

products.drop_duplicates() #drop dublicated row

products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [3]:
################Missing values
#dec  7, 
#pric 46 - 0.23802% 
#type 50 missing data - 0.25872%

#%of missing data to overall data

#print(f"50 missing values represent {((products.type.isna().sum() / products.shape[0])*100).round(5)}% of the rows in our DataFrame")

#As there is such a tiny amount of missing values, we will simply delete these rows, as we have enough data without them.


products = products.loc[~products.desc.isna(), :]

products = products.loc[~products.price.isna(), :]

products = products.loc[~products.type.isna(), :]

products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19223 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19223 non-null  object
 1   name         19223 non-null  object
 2   desc         19223 non-null  object
 3   price        19223 non-null  object
 4   promo_price  19223 non-null  object
 5   in_stock     19223 non-null  int64
 6   type         19223 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [6]:
products["price"] = pd.to_numeric(products["price"])

products["promo_price"] = pd.to_numeric(products["promo_price"])
products.promo_price.astype(str).str.contains("\d+\.\d+\.\d+").value_counts()

two_dot_percentage = ((products.promo_price.astype(str).str.contains("\d+\.\d+\.\d+").value_counts()[1] / products.shape[0])*100).round(2)

print(f"The 2 dot problem represents {two_dot_percentage}% of the rows in our DataFrame")
products.info()

ValueError: Unable to parse string "1.639.792" at position 662